@font-face {
    font-family: 'Celestia';
    src: url(../fonts/Celestia.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
}

section {
    margin: 120px 12px;
}

section .img,
section .text,
section .img-2-row  {
    margin-top: 24px;
}

section .img:hover img {
    transform: scale(1.2);
}

section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: all ease 3s;
}

section .img div {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
    overflow: hidden;
}

section .text div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
}

section .text p {
    font-size: 23px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.img-2-row .row-col-0 {
    flex-direction: column;
    justify-content: space-between;
}

.img-2-row .text,
.img-2-row .img {
    margin: 0;
    padding: 0;
}

.img-2-row .text > div {
    flex-direction: column;
    justify-content: center;
}

.img-2-row .text p {
    text-align: right;
    text-transform: capitalize;
}

.img-gold-container .tho p {
    font-size: 20px;
}

.img-gold-container p.end-text {
    font-size: 75px;
}

/* height */

.h-l-250 {
    height: 250px;
}

.h-l-288 {
    height: 288px;
}

.h-l-600 {
    height: 600px;
}

/* mobile */

@media only screen and (max-width: 767px){
    
    .img-gold-container .tho p {
        font-size: 21px;
        line-height: 1.5;
    }

}

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 993px){
    
    .img-gold-container .tho p {
        font-size: 14px;
        line-height: 1.6;
    }

    .img-gold-container > div:nth-child(3) {
        order: 2;
    }

    .img-gold-container > div:nth-child(4) {
        order: 1;
    }

    .img-gold-container > div:nth-child(4) .row-col-0{
        flex-direction: row;
    }

    .img-gold-container > div:nth-child(4) .text {
        order: 2;
    }

    .img-gold-container > div:nth-child(4) .img {
        order: 1;
    }

    .img-gold-container > div:nth-child(4) .h-l-600 {
        height: 288px;
    }

}

/* pc */

@media only screen and (min-width: 994px) {

    .img-gold-container .tho p {
        font-size: 16px;
        line-height: 1.5;
    }

}