
@keyframes pulsate {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      filter: none;
    }
    100% {
      opacity: 0;
      filter: alpha(opacity=0);
    }
}
  
@keyframes bounce {
    0% {
      opacity: 0;
      filter: alpha(opacity=0);
      transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
      opacity: 1;
      filter: none;
      transform: translateY(30px) rotate(-45deg);
    }
    80% {
      transform: translateY(-10px) rotate(-45deg);
    }
    100% {
      transform: translateY(0) rotate(-45deg);
    }
}

@keyframes where {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

@font-face {
    font-family: 'madurai';
    src: url('../fonts/Arima\ Madurai\ ExtraBold.ttf');
}

@font-face {
    font-family: 'aturdida';
    src: url('../fonts/Brankovic.ttf');
}

.pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #89849b;
    position: absolute;
    transform: rotate(-45deg);
    margin: -20px 0 0 -20px;
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
}
.pin:after {
    content: '';
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #2f2f2f;
    position: absolute;
    border-radius: 50%;
  }
.pulse {
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
}

.pulse:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    filter: alpha(opacity=0);
    box-shadow: 0 0 1px 2px #89849b;
    animation-delay: 1.1s;
}

/* location mark */

.location-icon.an-giang {
    position: absolute;
    top: 77.1%;
    left: 22.5%;
}
.location-icon.ba-ria-vung-tau {
    position: absolute;
    top: 76%;
    left: 36%;
}
.location-icon.binh-dinh {
    position: absolute;
    top: 55%;
    left: 47%;
}
.location-icon.dong-thap {
    position: absolute;
    top: 76%;
    left: 25.3%;
}
.location-icon.hue {
    position: absolute;
    top: 43.6%;
    left: 41.1%;
}
.location-icon.khanh-hoa {
    position: absolute;
    top: 66%;
    left: 47.1%;
}
.location-icon.kien-giang {
    position: absolute;
    top: 81%;
    left: 22.1%;
}
.location-icon.lam-dong {
    position: absolute;
    top: 70%;
    left: 41.1%;
}
.location-icon.long-an {
    position: absolute;
    top: 75.8%;
    left: 28.1%;
}
.location-icon.ninh-binh {
    position: absolute;
    top: 18.3%;
    left: 27.1%;
}
.location-icon.ninh-thuan {
    position: absolute;
    top: 70%;
    left: 46.3%;
}
.location-icon.phan-thiet {
    position: absolute;
    top: 74%;
    left: 41.2%;
}
.location-icon.phu-yen {
    position: absolute;
    top: 62%;
    left: 48.2%;
}
.location-icon.sapa {
    position: absolute;
    top: 5%;
    left: 14.2%;
}
.location-icon.tay-nguyen {
    position: absolute;
    top: 57%;
    left: 41.7%;
}
.location-icon.ben-tre {
    position: absolute;
    top: 78.6%;
    left: 30.2%;
}
.location-icon.tp-hcm {
    position: absolute;
    top: 75.1%;
    left: 31.9%;
}
.location-icon.hn {
    position: absolute;
    top: 14.1%;
    left: 25.4%;
}

/* end location mark */

#wrapper {
    background-color: #1a1a1a;
}

#back-color {
    background-color: #1a1a1a;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    margin: 0%;
    padding: 0%;
}

section {
    padding: 8% 5% 0;
}

/* map */

.map {
    position: absolute;
    width: 100%;
}

.map > img {
    position: relative;
    width: 75%;
    left: 0;
    top:0;
}

/* main */

#main {
    position: relative;
}

#main > p.where {
    position: absolute;
    top: 20%;
    left: 65%;
    color: #fff;
    font-size: 32px;
    width: 300px;
    font-family: 'Bungee Shade', cursive;
    line-height: 1.2;
    animation: where 2s ease-in-out .2s infinite;
}

#main > p.where-2 {
    position: absolute;
    top: 21.5%;
    left: 58%;
    color: #fff;
    font-size: 62px;
    width: 300px;
    font-family: 'Bungee Shade', cursive;
    line-height: 1.2;
    animation: where 2s ease-in-out infinite;
}

/* location-content */

.location-content {
    position: relative;
    z-index: 12;
    width: 90%;
    margin-top: 125px;
    left: auto;
    right: auto;
    background-color: #fff;
    background-size: contain;
    border-radius: 5px;
}

.location-content > .title {
    position: relative;
    padding: 24px 80px;
    left: 50%;
    transform: translateX(-50%);
    top: -90px;
    background-color: #fff;
    border-radius: 5px;
    width: 60%;
    background: url("../image/duLichPage/retro-text-bg.png") center/cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 9;
}

.location-content .title p {
    font-family: 'Bungee Shade', cursive;
    font-size: 90px;
    line-height: 1.2;
    text-align: center;
    color: #e9e9e9;
}

.location-content .content {
    width: 100%;
    height: auto;
}

.content-slogan {
    position: absolute;
    z-index: 13;
    display: flex;
    flex-direction: column;
    left: 100%;
    top: 90px;
    transform: translateX(-32%);
    width: 200px;
}

.content-slogan > img {
    width: 100%;
}

/* content top video */

.top-video {
    position: relative;
    width: 100%;
    left: 5%;
    z-index: 1;
}


.top-video img{
    position: absolute;
    width: 24%;
    left: 62%;
    top: 39%;
    transform: rotate(21deg);
    z-index: 2;
}

.top-video-content {
    position: relative;
    width: 70%;
    height: 425px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: calc(50px + 15%);
}

.top-video-content::after {
    content: "";
    width: 105%;
    height: 71px;
    background: url("../image/duLichPage/retro-green.png");
    background-size: 50%;
    position: absolute;
    bottom: 8px;
    left: -21px;
    z-index: 1;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

.top-video-content::before {
    content: "";
    width: 5%;
    height: 5%;
    position: absolute;
    background-color: #1e5b4a;
    left: -2.3%;
    top: 78.4%;
    transform: rotate(-35deg);
}

.top-video-content video {
    position: relative;
    width: 100%;
    z-index: 1;
}

.top-video .video-title {
    position: absolute;
    z-index: 2;
    bottom: 5.5%;
    left: 3%;
}

.top-video .video-title p {
    font-family: 'Bungee Shade', cursive;
    font-size: 42px;
    color: #fff;
    line-height: 1;
}

/* midđle content */

.location-content .main-content {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #d8a027;

}

.location-content .main-content-title > p {
    font-family: 'Bungee Shade', sans-serif;
    position: absolute;
    font-size: 45px;
    color: #fff;
    top: calc(-34px - 1%);
    width: 100%;
}

.location-content .main-content > div > img {
    position: absolute;
    width: 75%;
    left: 50%;
    top: -68px;
    transform: translateX(-50%);
} 

.haNoi-old {
    position: relative;
    width: 100%;
    height: auto;
}

.haNoi-old .img:nth-child(2) {
    position: absolute;
    right: calc(-85px - 10%);
    top: calc(200px + 9.5%);
    width: 70%;
    transform: skew(13.3deg, -13.3deg);
}
.haNoi-old .img:nth-child(3) {
    position: absolute;
    width: 70%;
    top: 328px;
    left: -16%;
    transform: rotate(-5deg);
}

.haNoi-old .img > img {
    max-width: 90%;
    display: block;
    position: relative;
}


.haNoi-old .title {
    position: relative;
    top: 65px;
    z-index: 6;
    width: 100%;
    text-align: center;
}

.haNoi-old .title img {
    width: 80%;
}

.haNoi-old .container {
    position: relative;
    width: 100%;
}

/* img */

.hn-old-img-1 {
    width: 70%;
    position: relative;
    transform: skew(13.3deg, -13.3deg);
    margin-bottom: 64px;
}

.hn-old-img-1 img:first-child{
    width: 100%;
    position: relative;
    z-index: 2;
}

.hn-old-img-1 img:last-child{
    width: 69%;
    position: absolute;
    left: 6%;
    top: 8%;
    z-index: 1;
    transition: all ease-in-out 1s;
}

.hn-old-img-1:hover img:last-child {
    transform: scale(1.1);
}

.hn-sect-titl {
    position: relative;
    width: 100%;
    margin-top: calc(76px + 12%);
    margin-left: 32px;
}

.hn-sect-titl h1 {
    display: block;
    font-family: 'aturdida', sans-serif;
    font-size: 64px;
    color: #eef0ee;
    text-shadow: 1px 1px 5px rgba(97, 62, 62, 0.65);
    text-align: left;
    text-transform: uppercase;
    transform: rotate(-13.3deg);
    width: 100%;
}

.hn-sect-titl > p:nth-child(2),
.hn-sect-titl > p:nth-child(3) {
    font-family: 'aturdida', sans-serif;
    color: #faf3e1;
    transform: rotate(-13.3deg);
    font-size: 28px;
    text-shadow: 1px 1px 5px rgba(97, 62, 62, 0.65);
    text-align: left;
    width: 50%;
}

.hn-sect-titl > p:nth-child(2){
    margin-top: 100px;   
    
}

.hn-sect-titl > p:nth-child(3) {
    margin-top: 38px;
    margin-bottom: 12px;
}

/* social icons */

.hn-old-social img {
    position: absolute;
    width: 15%;
    transition: all ease-in-out .3s;
}

/* .hn-old-social img:hover { 
    transform: rotate(0deg);
    transform: scale3D(1.1, 1.1, 1.1);
    transition: all ease-in-out .3s;
} */

.hn-old-social img:nth-child(1) { 
    right: 14%;
    transform: rotate(-15deg);
}

.hn-old-social img:nth-child(2) { 
    right: 1%;
    top: 650px;
    transform: rotate(30deg);
}

.hn-old-social img:nth-child(3) { 
    right: 15%;
    top: 745px;
    transform: rotate(-13deg);
}

.hn-old-social img:nth-child(4) { 
    right: 0.8%;
    top: 827px;
    transform: rotate(6deg);
}

.hn-old-social img:nth-child(1):hover,
.hn-old-social img:nth-child(2):hover,
.hn-old-social img:nth-child(3):hover,
.hn-old-social img:nth-child(4):hover {
    transform: rotate(0deg);
    transform: scale3D(1.1, 1.1, 1.1);
    z-index: 99;
}

.haNoi-old .change-sect-img {
    width: 100%;
    z-index: 16;
}

.haNoi-old .change-sect-img img{
    width: 100%;
    transform: translateY(100%);
}

/* hanoi new */

.haNoi-new {
    padding-top: 164px;
    background-color: #fff;
}






/* mobile responsive */

/* @media only screen and (max-width:767px) {

} */

/* tablet responsive */

@media only screen and (min-width:767px) and (max-width:992px) {
    .location-icon.an-giang {
        position: absolute;
        top: 77.1%;
        left: 29.5%;
    }
    .location-icon.ba-ria-vung-tau {
        position: absolute;
        top: 76%;
        left: 47%;
    }
    .location-icon.binh-dinh {
        position: absolute;
        top: 55%;
        left: 62%;
    }
    .location-icon.dong-thap {
        position: absolute;
        top: 76%;
        left: 32.3%;
    }
    .location-icon.hue {
        position: absolute;
        top: 43.6%;
        left: 54.7%;
    }
    .location-icon.khanh-hoa {
        position: absolute;
        top: 66%;
        left: 63.1%;
    }
    .location-icon.kien-giang {
        position: absolute;
        top: 81%;
        left: 30.1%;
    }
    .location-icon.lam-dong {
        position: absolute;
        top: 70%;
        left: 57.1%;;
    }
    .location-icon.long-an {
        position: absolute;
        top: 75.8%;
        left: 36.1%;
    }
    .location-icon.ninh-binh {
        position: absolute;
        top: 18.3%;
        left: 36.1%;
    }
    .location-icon.ninh-thuan {
        position: absolute;
        top: 70%;
        left: 62%;
    }
    .location-icon.phan-thiet {
        position: absolute;
        top: 74%;
        left: 55.2%;
    }
    .location-icon.phu-yen {
        position: absolute;
        top: 62%;
        left: 63.2%;
    }
    .location-icon.sapa {
        position: absolute;
        top: 5%;
        left: 19.2%;
    }
    .location-icon.tay-nguyen {
        position: absolute;
        top: 57%;
        left: 55.6%;
    }
    .location-icon.ben-tre {
        position: absolute;
        top: 78.6%;
        left: 41.2%;
    }
    .location-icon.tp-hcm {
        position: absolute;
        top: 75.1%;
        left: 42.4%;
    }
    .location-icon.hn {
        position: absolute;
        top: 14.1%;
        left: 33.8%;
    }
    
    #main > p.where {
        left: 60%;
        font-size: 28px;
    }
    
    #main > p.where-2 {
        left: 53%;
        font-size: 52px;
    }

    .map > img {
        position: relative;
        width: 100%;
        left: 0;
        top:0;
    }
    
}

/* px */

@media only screen and (min-width:993px) {

}
